@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

body {
    padding-top: 60px;
}

.line-breaker {
    white-space: pre-line;
}
