/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!/var/data
/var/data/*
!var/data/.gitkeep

/var/security/*
!var/security/private.pem
!var/security/public.pem

!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/app/*

/angular/node_modules/
/angular/src/environments/api-config.ts
/angular/src/manifest.json
/angular/src/index.html