<div class="card mb-3" *ngFor="let blogPost of blogPosts | async">
    <div class="card-body">
        <h4 class="card-title"><a [routerLink]="['/posts', blogPost.id]">{{blogPost.title}}</a></h4>
        <h6 class="card-subtitle text-muted mb-3">by <a href="#">{{blogPost.author.fullname}}</a></h6>
        <div class="row small text-muted">
            <div class="col">
                <span class="fa fa-fw fa-clock-o"></span>&nbsp;&nbsp;{{blogPost.created | date:'medium'}}
            </div>
        </div>
    </div>
</div>
<div class="text-center" *ngIf="!(blogPosts | async)"><span class="fa fa-spin fa-circle-o-notch fa-3x"></span></div>
